.carouselTitle
.carouselSubtitle
  text-shadow: 0 0 8px rgba(0, 0, 0, .25);

.carouselTitle
  tv-text-style: title2

.carouselSubtitle
  tv-text-style: subtitle2

.carouselImage
  tv-tint-color: linear-gradient(top, 0.20, transparent, 0.55, rgba(0,0,0,0.35), 1.00, rgba(0,0,0,0.5));

.cardSubtitle
.cardTitle
  text-align: left

.cardSubtitle
  tv-text-style: subtitle2

.shelfSpacer
  height: 10
