doctype xml

document
  menuBarTemplate
    menuBar
      menuItem(route= '/home')
        title Home

      menuItem(route= '/allShows')
        title Shows

      menuItem(route= '/categories')
        title Categories
